<div class="container-fluid">
    <div class="row">
        <div class="col-xl-2">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="#"> <img src="../assets/img/1.PNG" alt=""></a>
                  </li>
                  <hr>
                <li class="nav-item active" routerLinkActive="active">
                  <a class="nav-link active" routerLink="/clientes" >Clients</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" >Clients look history</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" >Emergency PIN configuration</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " >Emergency PIN history</a>
                </li>
                <hr>
              </ul>
        </div>
        <div class="col-xl-10">
            <router-outlet></router-outlet> 
        </div>
   </div> 
</div>

